:root {
  --color-grey: #303030;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #555555;
  padding: 0 32px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.header-contaiter {
  display: flex;
  align-items: center;
}
.section-2 {
  /* display: flex; */
}

.section-3 {
  /* display: flex; */
}
img {
  display: block;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

/* .nav {
  width: 953px;
  display: flex;
} */
.logo {
  margin-right: 131px;
}
.btn {
  font-family: inherit;
  box-sizing: border-box;
  background: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  width: 160px;
  height: 40px;
}
.title {
  font-size: 42px;
  letter-spacing: 2.1px;
}
header a {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
.navigation {
  margin-right: auto;
}
.header-nav {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header-nav-link {
  text-decoration: none;
}

.header-nav-link:hover {
  color: #ff6c00;
}
.header-contact {
  text-transform: uppercase;
}

.header-button {
  font-family: inherit;
  box-sizing: border-box;
  background: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 43px;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
}
.hero-uptitle {
  color: #9da4bd99;
  margin-bottom: 20px;
}
.hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/Slider.jpg);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}
.hero-title {
  font-size: 72px;
  line-height: 1.1805;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

.hero-link {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1.36;
  color: #303030;
  text-decoration: none;
}

/* ABOUT */
.about {
  padding: 120px 0;
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-wrap {
  max-width: 470px;
}
.section-title {
  font-size: 42px;
  line-height: 1.1666;
  letter-spacing: 0.05em;
  color: #303030;
  padding-bottom: 20px;
}
.about-uptitle {
  color: #303030;
  padding-bottom: 20px;
}
.about-subtitle {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}
.about-text {
  color: #555555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  padding-bottom: 42px;
}
.about-btn {
  color: #303030;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  cursor: pointer;
}

/* PRICES */

.prices {
  background-color: #555555;
  padding: 120px 0;
}
.prices-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
  justify-content: space-between;
}
.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.prices-btn {
  color: white;
  font-size: 12px;
  line-height: 1.33;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}
.prices-list {
  border: 1px solid white;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

/* BENEFITS */
.benefits {
  padding: 120px 0;
}
.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000;
  padding: 20px 24px;
  text-align: center;
}

.benefits-count {
  font-weight: 700;
  color: #303030;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 2.1px;
}
.benefits-plus {
  text-align: center;
  color: #ff6c00;
  font-size: 16px;
  line-height: calc(22 / 16);
  font-weight: 600;
}
.benefits-item-text {
  text-align: center;
  color: #303030;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
}
.benefits-uptitle {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-subtitle {
  color: #555555;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

/* BARBERS */

.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}
.barbers-uptitle {
  color: #303030;
  margin-bottom: 20px;
}
.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}
.barbers-item-title {
  text-align: center;
  color: #303030;
  font-size: 18px;
  line-height: calc(25 / 18);
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  margin-top: 30px;
}
.barbers-item-text {
  text-align: center;
  color: #ff6c00;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}
.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100%-60px) / 3);
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barbers-soc-link:hover .barbers-soc-icon {
  fill: #ff6c00;
}
.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* GALLERY */

.gallery {
  padding: 120px 0;
}
.gallery-uptitle {
  color: #303030;
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
  width: calc((100%-90px) / 4);
}

/* CONTACTS */
.contacts {
  background-color: #303030;
}
.contacts-title {
  color: #ffffff;
}
.contacts-address {
  font-style: inherit;
}
.contacts-link {
  font-size: 18px;
  color: #9da4bd;

  line-height: 1.67;
  letter-spacing: 0.36px;
}
.contacts-link-bold {
  font-weight: 700;
}
.contacts-schedule-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
