.btn {
  font-family: inherit;
  box-sizing: border-box;
  background: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  transition: background-color 200ms linear, color 200ms linear;
}
.btn:hover {
  background-color: #ff6c00;
  color: #fff;
}
