.about {
  padding: 84px 0;
  @include tablet {
    padding: 100px 0;
  }
  @include desktop {
    padding: 120px 0;
  }
}
.about-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.about-list {
  gap: 30px;
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}
.about-item {
  width: 330px;
  height: 235px;
  @include desktop {
    width: 270px;
    height: 445px;
  }
}
.about-item:first-child {
  background-image: url(../images/best1-tablet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include desktop {
    background-image: url(../images/best1.jpg);
  }
}
.about-item:last-child {
  background-image: url(../images/best2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-wrap {
  max-width: 480px;
}
.section-title {
  font-size: 28px;
  line-height: 1.1666;
  letter-spacing: 0.05em;
  color: #303030;
  padding-bottom: 20px;
  width: 306px;
  @include desktop {
    font-size: 42px;
    width: auto;
  }
}
.about-uptitle {
  color: #303030;
  padding-bottom: 20px;
}
.about-subtitle {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
  @include desktop {
    font-size: 18px;
  }
}
.about-text {
  color: #555555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  padding-bottom: 42px;
}
.about-btn {
  color: #303030;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  cursor: pointer;
}
