.footer {
  padding: 56px 212px;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}
.copyright {
  margin-right: auto;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-list::before {
  content: "";
  background-color: #303030;
  width: 60px;
  height: 1px;
}
.footer-item {
}
.footer-link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
  text-decoration: none;
  transition: color 200ms linear;
}
.footer-link:hover {
  color: #ff6c00;
}
